* {
    font-family: 'Segoe UI', Helvetica, sans-serif;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: 600;
    float: none;
    color: #FFFFFF;
    transition: .3s;
}

.navbar-brand:hover {
    color: #81fff4;
}

.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.jumbotron-heading {
    font-size: 3rem;
    font-weight: 600;
}